.selectedFile {
    display: none!important;
}
.selectedImg {
    width:100px;
    height:100px;
    border:0;
    padding-left: 0;
} 
.imgcargada{
    height:100px;
    border:0;
}
.container{

 display: grid;
 grid-template-columns: auto auto auto;
}

.item2{
    text-align:end
}
.limitlabel {
    max-width: 300px;
    max-height: 20px;
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.prossbar {
    max-width: 100px;
    max-height:100px;
    position: relative;
    color:var(--text-color, white);
}

label {
    overflow: hidden;
 }
 .LetterMontserrat{
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color, #052434);
    font-size: small;
  }
