.proveedor-title{
    color:#052434;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 25px; 
}

.modal-title{
    display: flex;
}

.title{
    color:#052434;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-right: 20px;
}

.edit-button{
    border: 0px !important;
    color: #052434 !important;
}

.edit-button:hover{
    border: 0px !important;
    color: #2282B4!important;
}

.button-request{
    background-color: #052434 !important;
    color: white !important;
}


